<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./Test</directory> <!-- Update to the actual directory name for your tests -->
        </testsuite>
    </testsuites>
</phpunit>
